@import "utilidades/mixins";
/*maquetado fw mobile*/
.contenedor__fw {
  @include boxshadow;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-family: raleway;
  align-items: center;

  img {
    width: 300px;
    height: auto;

    padding: 10px;
  }                   //Nesting
  h3,
  p {
    margin-left: 10px;
    font-family: raleway;
  }
  .comprar__boton {
    margin: 10px;
    text-align: center;
    border: solid 2px black;
    text-decoration: none;
    color: aliceblue;
    background-color: black;
    padding: 5px;
  }
  .comprar__boton:hover {
    background-color: rgba(255, 255, 255, 0.027);
    color: black;
  }
}
/*maquetado tablet*/
@media screen and (min-width: 600px) {
  .contenedor__fw {
    display: inline-block;
  }
}

/*fw2023 desktop*/
@media screen and (min-width: 1024px) {
  .contenedor__fw {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px), 1fr);

    img {
      width: 100%;
      height: auto;
    }
  }
}
